*.py[cod]

# C extensions
*.so

# cg
*.orig
*.rej
*~
*.obj
*.o
*.os
*.so
*.dylib
*.ER
*.OU
*.ui
*.backup
*.otl
*.lic
*.pdf
*.ofx
*.sdl
*.jpg
*.png
*.icon
*.svg
*.html
*.psd
*.css

#lib folders
lib/openVDB/
lib/tbb41_20121003oss/
lib/shotgun/

#src folders
src/

#houdini folders
software/houdini/dso/
software/houdini/gallery/
software/houdini/icons/
software/houdini/otl/
software/houdini/presets/

#nuke folders
software/nuke/LIC/
software/nuke/N6/SCRIPTS/icons/

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
